<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Differential Diagnosis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="top-bar">
      <h1>Differential Diagnosis of ~principal complaint~ </h1>
    </div>
    <div class="page-content">
      <!-- sidebar content -->
        <div class="sidebar">
            <h3>Symptoms - matched from text</h3>
            <div class="input-wrapper">
                <textarea
                    id="symptom-input"
                    rows="4"
                    placeholder="Enter symptoms or description..."
                ></textarea>
                <div class="spinner-overlay" id="loading-spinner">
                    <div class="spinner"></div>
                    <div class="spinner-text">Extracting symptoms, please wait...</div>
                </div>
            </div>

            <div class="button-row">
              <!-- First button always visible -->
              <div class="button-col">
                <button id="extract-btn" class="pastel-green" onclick="extractAndSelectSymptoms()" style="width: 100%; height: 100%;">
                  Extract Symptoms
                </button>
              </div>
              <!-- Second button container, hides the button -->
              <div class="button-col">
                <button id="show-keywords-btn" class="pastel-green" style="display: none;">
                  Show Found
                </button>
            </div>
            </div>
        </div>
        <!-- main content -->
        <div class="main">
            <div id="plot"></div>
            <div class="recommendation-box" id="decision">Loading baseline probabilities...</div>
        </div>
    </div>
    <!-- Keyword Modal -->
    <div id="keywords-modal">
      <div class="modal-content">
        <h4>Matched Keywords</h4>
        <ul id="modal-keyword-list"></ul>
        <button id="close-modal-btn">Close</button>
      </div>
    </div>
</body>
</html>